body {
  background-color: #333;
  font-family: 'Raleway', sans-serif;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 180px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #333D;
  z-index: 1;
}

.title {
  font-size: 40px;
  padding-bottom: 7px;
  color: white;
}

.sub-title {
  font-size: 22px;
}

.search-input {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  text-overflow: ellipsis;
  font-size: 40px;
  width: 400px;
  max-width: 80%;
  padding: 15px;
}

.search-input:focus {
  outline: none;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 180px;
}

.images-container .image-item {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 5px;
  animation: fade-in 1s ease-in-out;
  cursor: pointer;

  opacity: 0.7;
  transition: opacity 0.3s;
}

.images-container .image-item:hover {
  opacity: 1;
}

.message {
  font-size: 30px;
  color: white;
  padding: 50px;
}

.loading-message {
  animation: loading 1s infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
